%YAML 1.1
---
default-log-dir: /var/log/suricata

vars:
  address-groups:
    HOME_NET: "__HOME_NET__"
    EXTERNAL_NET: "!$HOME_NET"
    HTTP_SERVERS: "$HOME_NET"
    SMTP_SERVERS: "$HOME_NET"
    SQL_SERVERS: "$HOME_NET"
    DNS_SERVERS: "$HOME_NET"
    TELNET_SERVERS: "$HOME_NET"
    AIM_SERVERS: "$EXTERNAL_NET"
    DC_SERVERS: "$HOME_NET"
    DNP3_SERVER: "$HOME_NET"
    DNP3_CLIENT: "$HOME_NET"
    MODBUS_CLIENT: "$HOME_NET"
    MODBUS_SERVER: "$HOME_NET"
    ENIP_CLIENT: "$HOME_NET"
    ENIP_SERVER: "$HOME_NET"
  port-groups:
    HTTP_PORTS: "80"
    SHELLCODE_PORTS: "!80"
    ORACLE_PORTS: "1521"
    SSH_PORTS: "22"
    DNP3_PORTS: "20000"
    MODBUS_PORTS: "502"
    FILE_DATA_PORTS: "[$HTTP_PORTS,110,143]"
    FTP_PORTS: "21"

stats:
  enabled: yes
  interval: 60

# Avoid AF_PACKET promiscuous mode on managed/AP Wi-Fi interfaces. The NXP SDIO
# driver can reset an active WLAN while capture mode is repeatedly reconfigured.
af-packet:
  - interface: __INTERFACE__
    threads: 4
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes
  - interface: nebula0
    cluster-id: 98
    cluster-type: cluster_flow
    defrag: yes

app-layer:
  protocols:
    dnp3:
      enabled: yes
      detection-enabled: yes
      detection-ports:
        dp: 20000
    modbus:
      enabled: yes
      detection-enabled: yes
      detection-ports:
        dp: 502
      stream-depth: 0

outputs:
  - fast:
      enabled: yes
      filename: /var/log/suricata/fast.log
  - eve-log:
      enabled: yes
      filetype: regular
      filename: /var/log/suricata/eve.json
      types:
        - alert
        - http
        - dns
        - tls
        - anomaly
        - stats

unix-command:
  enabled: yes

default-rule-path: /var/lib/suricata/rules
rule-files:
  - /var/lib/suricata/rules/suricata.rules
  - /etc/suricata/rules/guardian-custom.rules

# Fix 3: bundled libmagic 5.41 expects DB v16; system magic.mgc is v18 → mismatch.
# Set to "" to disable file-type detection cleanly and silence magic_load errors.
# To re-enable: build v16 DB with /opt/suricata/bin/file -C -m /opt/suricata/share/misc/magic
# then set: magic-file: /opt/suricata/share/misc/magic.mgc
magic-file: ""

stream:
  memcap: 256mb
  reassembly:
    memcap: 512mb
